.flows.json.backup
[{"id":"36f30879.612b18","type":"tab","label":"Neopixel","disabled":false,"info":""},{"id":"6fd1ee10.5de6b","type":"tab","label":"Apagado","disabled":false,"info":""},{"id":"b0b4c387.bac2c","type":"ui_tab","z":"","name":"Configuración","icon":"dashboard","disabled":false,"hidden":false},{"id":"e09fd04f.2ca62","type":"ui_group","z":"","name":"Apagado","tab":"b0b4c387.bac2c","disp":true,"width":"6","collapse":false},{"id":"1949d5a5.32d34a","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b2f43292.7de8e","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"e7d0b515.e10608","type":"ui_group","z":"","name":"Default","tab":"b2f43292.7de8e","disp":true,"width":"6","collapse":false},{"id":"6cbd4bf9.2673c4","type":"ui_button","z":"6fd1ee10.5de6b","name":"","group":"e09fd04f.2ca62","order":0,"width":0,"height":0,"passthru":false,"label":"Shutdown","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":300,"y":160,"wires":[["efba27c6.ef8528"]]},{"id":"6068f5e8.809cec","type":"inject","z":"6fd1ee10.5de6b","name":"Apagar","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":120,"wires":[["efba27c6.ef8528"]]},{"id":"efba27c6.ef8528","type":"exec","z":"6fd1ee10.5de6b","command":"sudo halt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":480,"y":140,"wires":[[],[],[]]},{"id":"d6e431d6.ea5b6","type":"rpi-neopixels","z":"36f30879.612b18","name":"","pixels":"88","bgnd":"","fgnd":"","wipe":"0","mode":"pixels","rgb":"rgb","brightness":"10","gamma":false,"x":1050,"y":420,"wires":[]},{"id":"3a86fea3.bb3642","type":"function","z":"36f30879.612b18","name":"Concatenar Dígitos","func":"var firstDig = global.get(\"firstDig\");\nvar secondDig = global.get(\"secondDig\");\nvar thirdDig = global.get(\"thirdDig\");\nvar fourthDig = global.get(\"fourthDig\");\nvar numLed =0;\n\nvar color = global.get(\"color\");\n\nfor (index=0; index < firstDig.length; index++) \n{//Revisa cada espacio del Display,\n    if (firstDig[index] == 1) \n    {//A ver si estamos en alguna de las activas\n        for(j=0; j < 3; j++)\n        { //Para los 3 lugares\n            msg.payload = numLed + ',' + color;\n            node.send(msg); //Si sí, manda el color\n            numLed++;\n        }\n    }\n    else {\n        for(j=0; j < 3; j++)\n        {\n            msg.payload = numLed + ',' +\"0,0,0\";\n            node.send(msg); //Si no, lo manda apagado\n            numLed++;\n        }\n    }\n}\n\n numLed =21;\nfor (index=0; index < secondDig.length; index++) \n{//Revisa cada espacio del Display,\n    if (secondDig[index] == 1) \n    {//A ver si estamos en alguna de las activas\n        for(j=0; j < 3; j++)\n        { //Para los 3 lugares\n            msg.payload = numLed + ',' + color;\n            node.send(msg); //Si sí, manda el color\n            numLed++;\n        }\n    }\n    else {\n        for(j=0; j < 3; j++)\n        {\n            msg.payload = numLed + ',' +\"0,0,0\";\n            node.send(msg); //Si no, lo manda apagado\n            numLed++;\n        }\n    }\n}\nreturn;","outputs":1,"noerr":0,"x":530,"y":440,"wires":[["6d2a2262.33fbac"]]},{"id":"3858995b.e47626","type":"inject","z":"36f30879.612b18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":640,"y":120,"wires":[["847a543e.079ca8"]]},{"id":"a85ee875.f8d4d8","type":"function","z":"36f30879.612b18","name":"Banco de Datos Arreglos ","func":"var cero = [0,1,1,1,1,1,1]\nvar uno = [0,1,0,0,0,0,1]\nvar dos = [1,1,1,0,1,1,0]\nvar tres = [1,1,1,0,0,1,1]\nvar cuatro = [1,1,0,1,0,0,1]\nvar cinco = [1,0,1,1,0,1,1]\nvar seis = [1,0,1,1,1,1,1]\nvar siete = [0,1,1,0,0,0,1]\nvar ocho = [1,1,1,1,1,1,1]\nvar nueve = [1,1,1,1,0,0,1]\n\nvar col = \"100,50,255\"\n\nglobal.set(\"cero\",cero)\nglobal.set(\"uno\",uno)\nglobal.set(\"dos\",dos)\nglobal.set(\"tres\",tres)\nglobal.set(\"cuatro\",cuatro)\nglobal.set(\"cinco\",cinco)\nglobal.set(\"seis\",seis)\nglobal.set(\"siete\",siete)\nglobal.set(\"ocho\",ocho)\nglobal.set(\"nueve\",nueve)\n\nglobal.set(\"color\",col)","outputs":1,"noerr":0,"x":890,"y":120,"wires":[[]]},{"id":"40631f45.58002","type":"function","z":"36f30879.612b18","name":"Setup FirstDig","func":"var minutos = msg.payload\n\nvar decenas = minutos / 10;\ndecenas = decenas.toFixed();\n\nvar unidades = minutos % 10;\n\n\n\n\nswitch(unidades)\n{\n    case 0:\n        global.set(\"firstDig\",global.get(\"cero\"))\n        break;\n    case 1:\n        global.set(\"firstDig\",global.get(\"uno\"))\n        break;\n    case 2:\n        global.set(\"firstDig\",global.get(\"dos\"))\n        break;\n    case 3:\n        global.set(\"firstDig\",global.get(\"tres\"))\n        break;\n    case 4:\n        global.set(\"firstDig\",global.get(\"cuatro\"))\n        break;\n    case 5:\n        global.set(\"firstDig\",global.get(\"cinco\"))\n        break;\n    case 6:\n        global.set(\"firstDig\",global.get(\"seis\"))\n        break;\n    case 7:\n        global.set(\"firstDig\",global.get(\"siete\"))\n        break;\n    case 8:\n        global.set(\"firstDig\",global.get(\"ocho\"))\n        break;\n    case 9:\n        global.set(\"firstDig\",global.get(\"nueve\"))\n        break;\n}\n\nswitch(decenas)\n{\n    case 0:\n        global.set(\"secondDig\",global.get(\"cero\"))\n        break;\n    case 1:\n        global.set(\"secondDig\",global.get(\"uno\"))\n        break;\n    case 2:\n        global.set(\"secondDig\",global.get(\"dos\"))\n        break;\n    case 3:\n        global.set(\"secondDig\",global.get(\"tres\"))\n        break;\n    case 4:\n        global.set(\"secondDig\",global.get(\"cuatro\"))\n        break;\n    case 5:\n        global.set(\"secondDig\",global.get(\"cinco\"))\n        break;\n    case 6:\n        global.set(\"secondDig\",global.get(\"seis\"))\n        break;\n    case 7:\n        global.set(\"secondDig\",global.get(\"siete\"))\n        break;\n    case 8:\n        global.set(\"secondDig\",global.get(\"ocho\"))\n        break;\n    case 9:\n        global.set(\"secondDig\",global.get(\"nueve\"))\n        break;\n}\n\nmsg = {payload:decenas};\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":100,"wires":[["3a86fea3.bb3642","51ecfdf9.9457c4"]]},{"id":"76da3cb2.344254","type":"ui_slider","z":"36f30879.612b18","name":"","label":"FirstDig","tooltip":"","group":"e7d0b515.e10608","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"99","step":1,"x":140,"y":100,"wires":[["40631f45.58002","87f44278.068a8"]]},{"id":"87f44278.068a8","type":"ui_text","z":"36f30879.612b18","group":"e7d0b515.e10608","order":1,"width":0,"height":0,"name":"","label":"FirstDig","format":"{{msg.payload}}","layout":"row-spread","x":340,"y":240,"wires":[]},{"id":"847a543e.079ca8","type":"function","z":"36f30879.612b18","name":"Banco de Datos Arreglos ","func":"var cero = [1,1,1,1,1,1,0]\nvar uno = [1,0,0,0,0,1,0]\nvar dos = [0,1,1,0,1,1,1]\nvar tres = [1,1,0,0,1,1,1]\nvar cuatro = [1,0,0,1,0,1,1]\nvar cinco = [1,1,0,1,1,0,1]\nvar seis = [1,1,1,1,1,0,1]\nvar siete = [1,0,0,0,1,1,0]\nvar ocho = [1,1,1,1,1,1,1]\nvar nueve = [1,0,0,1,1,1,1]\nvar minutos = 0;\n\nvar col = \"100,50,255\"\n\nglobal.set(\"cero\",cero)\nglobal.set(\"uno\",uno)\nglobal.set(\"dos\",dos)\nglobal.set(\"tres\",tres)\nglobal.set(\"cuatro\",cuatro)\nglobal.set(\"cinco\",cinco)\nglobal.set(\"seis\",seis)\nglobal.set(\"siete\",siete)\nglobal.set(\"ocho\",ocho)\nglobal.set(\"nueve\",nueve)\n\nglobal.set(\"color\",col)\nglobal.set('minutos',minutos)\nglobal.set('secondDig',cero);","outputs":1,"noerr":0,"x":890,"y":160,"wires":[[]]},{"id":"b7ef3b78.f977b8","type":"ui_numeric","z":"36f30879.612b18","name":"","label":"numeric","tooltip":"","group":"e09fd04f.2ca62","order":2,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":180,"y":720,"wires":[[]]},{"id":"e834cefe.8c8b9","type":"ui_slider","z":"36f30879.612b18","name":"","label":"slider","tooltip":"","group":"e09fd04f.2ca62","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"99","step":1,"x":180,"y":640,"wires":[[]]},{"id":"6d2a2262.33fbac","type":"delay","z":"36f30879.612b18","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"100","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":420,"wires":[["d6e431d6.ea5b6"]]},{"id":"51ecfdf9.9457c4","type":"debug","z":"36f30879.612b18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":300,"wires":[]}]